<main>
  <!-- Header -->
  <h1>{{ currentStepName }}</h1>

  <!-- Questions content -->
  <ng-container *ngFor="let step of steps">
    <app-generic-questions
      *ngIf="currentStepName === step.name"
      [step]="step.name"
      [form]="step.form"></app-generic-questions>
  </ng-container>

  <!--
    Testing websocket
  -->
  <!-- <button (click)="connectWebSocket()">Connect WebSocket</button>
  <button (click)="disconnectWebSocket()">Disconnect WebSocket</button> -->

  <!--
    Testing BroadcastChannelAPI,
    localStorage
   -->
  <!-- <button (click)="broadcastChannelPost()">BroadcastChannelAPI Message</button>
  <button (click)="localStorageSetItem()">localStorage Message</button> -->

  <!-- Next/Back -->
  <div>
    <button [disabled]="currentForm.invalid" (click)="submit()">Next</button> <br>
    <button *ngIf="currentStepIndex > 0" (click)="goToPreviousStep()">Back</button>
  </div>
</main>
