<!-- Step 1: Contact -->
<form
  *ngIf="step === 'contact'"
  action=""
  [formGroup]="form">

  <div class="form-group">
    <label for="first_name">First Name: </label>
    <input type="text" [formControl]="fields.first_name">
  </div>

  <div class="form-group">
    <label for="last_name">Last Name: </label>
    <input type="text" [formControl]="fields.last_name"> <br>
  </div>

  <p>Address</p>
  <div>
    <div class="form-group">
      <label for="street_address">Street Address: </label>
      <input type="text" [formControl]="fields.street_address"> <br>
    </div>

    <div class="form-group">
      <label for="city">City: </label>
      <input type="text" [formControl]="fields.city"> <br>
    </div>
    <div class="form-group">
      <label for="state">State: </label>
      <input type="text" [formControl]="fields.state">
    </div>
    <div class="form-group">
      <label for="zip">Zip Code: </label>
      <input type="text" [formControl]="fields.zip">

      <div *ngIf="form.errors && (fields.zip.dirty && fields.state.dirty)">
        <p *ngIf="form.errors?.stateZipMismatch">
          Zip code not found in selected state.
        </p>
      </div>
    </div>
  </div>

</form>

<!-- Step 2: Personal -->
<form
  *ngIf="step === 'personal'"
  action=""
  [formGroup]="form">

  <div class="form-group">
    <label for="dob">Date of Birth: </label>
    <input type="date" [formControl]="fields.dob">
  </div>

  <div class="form-group">
    <label for="main_phone">Main Phone: </label>
    <input type="text" [formControl]="fields.main_phone"> <br>

    <div *ngIf="fields.main_phone.invalid && (fields.main_phone.dirty)">
      <p *ngIf="fields.main_phone.errors.phone">
        Invalid Phone Number
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="second_phone">Secondary Phone: </label>
    <input type="text" [formControl]="fields.second_phone"> <br>

    <div *ngIf="fields.second_phone.invalid && (fields.second_phone.dirty)">
      <p *ngIf="fields.second_phone.errors.phone">
        Invalid Phone Number
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="ssn">SSN: </label>
    <input type="text" [formControl]="fields.ssn"> <br>

    <div *ngIf="fields.ssn.invalid && (fields.ssn.dirty)">
      <p *ngIf="fields.ssn.errors.ssn">
        Invalid SSN
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="annual_income">Annual Income: </label>
    <input type="text" [formControl]="fields.annual_income">

    <div *ngIf="(form.errors || fields.annual_income.errors) && fields.annual_income.dirty">
      <p *ngIf="form.errors?.incomeLowForDob">
        Income must be at least $50,000 if DOB is before 1970.
      </p>
      <p *ngIf="fields.annual_income.errors?.incomeLowForStateOfUtah">
        Income must be at least $30,000 if you're from Utah.
      </p>
    </div>
  </div>

</form>

<!-- Step 3: Employment -->
<form
  *ngIf="step === 'employment'"
  action=""
  [formGroup]="form">

  <div class="form-group">
    <label>Employment Status: </label>
    <select (blur)="employmentStatusBlur($event)" [formControl]="fields.employment_status">
      <option value="0">Salaried Employee</option>
      <option value="1">Self Employed</option>
      <option value="2">Unemployed</option>
    </select>
  </div>

  <div class="form-group" *ngIf="fields.employment_status.value !== '2'">
    <label>Length of Employment: </label>
    <select [formControl]="fields.length_of_employment">
      <option value="0">Less than one year</option>
      <option value="1">1-2 Years</option>
      <option value="2">2-5 Years</option>
      <option value="3">5 Years+</option>
      <!-- '4' is N/A. We default to this value when Unemployed is selected -->
    </select>
  </div>

</form>

<!-- Step 4: Housing -->
<form
  *ngIf="step === 'housing'"
  action=""
  [formGroup]="form">

  <p>Do you rent or own your home?</p>
  <div class="form-group">
    Rent: <input (blur)="housingTypeBlur($event)" [formControl]="fields.housing_type" type="radio" value="rent">
    Own: <input (blur)="housingTypeBlur($event)" [formControl]="fields.housing_type" type="radio" value="own">
  </div>

  <div class="form-group" *ngIf="fields.housing_type.value === 'rent'">
    <label for="annual_income">Housing Payment: </label>
    <input type="text" [formControl]="fields.housing_payment">
  </div>

</form>

<!-- Step 5: Banking -->
<form
  *ngIf="step === 'banking'"
  action=""
  [formGroup]="form">

  <p>Bank Accounts?</p>
  <div class="form-group">
    Checking: <input (blur)="bankAccountFieldsBlur($event)" [formControl]="fields.has_checking" type="checkbox">
    Savings: <input (blur)="bankAccountFieldsBlur($event)" [formControl]="fields.has_savings" type="checkbox">
    Retirement: <input (blur)="bankAccountFieldsBlur($event)" [formControl]="fields.has_retirement" type="checkbox">
    Investments: <input (blur)="bankAccountFieldsBlur($event)" [formControl]="fields.has_investments" type="checkbox">
  </div>

</form>

<!-- Step 6: Terms -->
<form
  *ngIf="step === 'terms'"
  action=""
  [formGroup]="form">

  <p>Esign Act Consent</p>
  <p>Credit Score Consent</p>
  <p>Privacy Policy</p>
  <div class="form-group">
    I agree with all of the above: <input [formControl]="fields.all_terms_agree" type="checkbox">
  </div>

</form>
